.page.theme_dark {
  color: var(--text-color, #f1b2ce);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--bg-color,);
  

  .header__decor-dark-theme {
    color: var(--accent-color, #ff0070);
  }

  .header__title {
    text-shadow: 4px 4px 0 var( --shadow-color, #ff0070);
  }

  .title{
    color: var(--title-color, #DB00FF);
  }

  .title-decor {
    color: var(--header-title-color, #000028);
    background-color: var(--bg-header-title, #ff0070);
  }
}

