.page.theme_light {
  --text-color:#353430;
  --accent-color: 
  #353430;
  --hover-color:rgb(50, 49, 45, .4);
  --title-color: #FFC2E6;
  --header-title-color:##353430;
  --bg-color:
  #FFF1F7;
  --bg-header-title:#FF8DCB;
  --bg-image: url(../images/cover-image-light.png);

  .header__decor-dark-theme {
  display: none
  }
}